# HTTPS sertifikası Let's Encrypt'ten otomatik alınır ve yenilenir.
{$APP_DOMAIN} {
	encode zstd gzip
	request_body {
		max_size 260MB
	}
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Robots-Tag "noindex, nofollow"
		-Server
	}
	reverse_proxy app:3000
}
